.login {
  text-align: center;
  max-width: 60%;
  margin: 0px auto;
  padding: 20px 0px;
  min-height: calc(100vh - 148px);
  h1 {
    margin-bottom: 20px;
  }
  a {
    color: #449c44;
    text-decoration: none;
  }
  .inner-login {
    display: flex;
    flex-direction: column;
    padding: 10px 100px;
    .form {
      display: flex;
      flex-direction: column;
      gap: 25px;
      .form-input {
        padding: 10px 20px;
        border: 1px solid #00000038;
        border-radius: 5px;
        font-size: 18px;
        &:focus {
          outline: 0;
          background-color: #fff;
          border-color: #449c44;
        }
        &__error {
          padding: 10px 20px;
          border: 1px solid #00000038;
          border-radius: 5px;
          font-size: 18px;
          outline: 0;
          background-color: #fff6f7;
          border-color: red;
        }
      }
      .btn {
        margin-left: auto;
        padding: 15px 15px;
        color: white;
        background-color: #449c44;
        border: 1px solid #449c44;
        border-radius: 5px;
        font-size: 16px;
      }
      p {
        margin-right: auto;
        color: red;
      }
    }
  }
}
