@if ((listArticleStore.getLoading$ | async) == true) {
  <div class="content">
    <div  class="loading-overlay">
      <div class="spinner"></div>
    </div>
  </div>
} @else {
  <div class="list-article">
    <div class="row">
      <div class="col-md-9">
        <app-feed-toggle></app-feed-toggle>
        <app-article
          [listArticle]="this.listArticleStore.getArticles$"
        ></app-article>
      </div>
      <div class="col-md-3">
        <app-popular-tag></app-popular-tag>
      </div>
    </div>
  </div>
}
