<div class="pageable">
    <ul class="pageable__pagination">
        <li class="pageable__pagination__page-item">
            <a href="" class="pageable__pagination__page-item__page-link pageable__pagination__page-item__page-link--active">
                1
            </a>
        </li>
        <li class="pageable__pagination__page-item">
            <a href="" class="pageable__pagination__page-item__page-link">
                2
            </a>
        </li>
        <li class="pageable__pagination__page-item">
            <a href="" class="pageable__pagination__page-item__page-link">
                3
            </a>
        </li>
        <li class="pageable__pagination__page-item">
            <a href="" class="pageable__pagination__page-item__page-link">
                4
            </a>
        </li>
        <li class="pageable__pagination__page-item">
            <a href="" class="pageable__pagination__page-item__page-link">
                5
            </a>
        </li>
        <li class="pageable__pagination__page-item">
            <a href="" class="pageable__pagination__page-item__page-link">
                6
            </a>
        </li>
        <li class="pageable__pagination__page-item">
            <a href="" class="pageable__pagination__page-item__page-link">
                7
            </a>
        </li>
        <li class="pageable__pagination__page-item">
            <a href="" class="pageable__pagination__page-item__page-link">
                8
            </a>
        </li>
        <li class="pageable__pagination__page-item">
            <a href="" class="pageable__pagination__page-item__page-link">
                9
            </a>
        </li>
        <li class="pageable__pagination__page-item">
            <a href="" class="pageable__pagination__page-item__page-link">
                10
            </a>
        </li>
        <li class="pageable__pagination__page-item">
            <a href="" class="pageable__pagination__page-item__page-link">
            11
            </a>
        </li>
        <li class="pageable__pagination__page-item">
            <a href="" class="pageable__pagination__page-item__page-link">
                12
            </a>
        </li>
        <li class="pageable__pagination__page-item">
            <a href="" class="pageable__pagination__page-item__page-link">
                13
            </a>
        </li>
        <li class="pageable__pagination__page-item">
            <a href="" class="pageable__pagination__page-item__page-link">
                14
            </a>
        </li>
        <li class="pageable__pagination__page-item">
            <a href="" class="pageable__pagination__page-item__page-link">
                15
            </a>
        </li>
        <li class="pageable__pagination__page-item">
            <a href="" class="pageable__pagination__page-item__page-link">
                16
            </a>
        </li>
        <li class="pageable__pagination__page-item">
            <a href="" class="pageable__pagination__page-item__page-link">
                17
            </a>
        </li>
        <li class="pageable__pagination__page-item">
            <a href="" class="pageable__pagination__page-item__page-link">
                18
            </a>
        </li>
        <li class="pageable__pagination__page-item">
            <a href="" class="pageable__pagination__page-item__page-link">
                19
            </a>
        </li>
        <li class="pageable__pagination__page-item">
            <a href="" class="pageable__pagination__page-item__page-link">
                20
            </a>
        </li>
        <li class="pageable__pagination__page-item">
            <a href="" class="pageable__pagination__page-item__page-link">
                21
            </a>
        </li>
        <li class="pageable__pagination__page-item">
            <a href="" class="pageable__pagination__page-item__page-link">
                22
            </a>
        </li>
        <li class="pageable__pagination__page-item">
            <a href="" class="pageable__pagination__page-item__page-link">
                23
            </a>
        </li>
        <li class="pageable__pagination__page-item">
            <a href="" class="pageable__pagination__page-item__page-link">
                24
            </a>
        </li>
        <li class="pageable__pagination__page-item">
            <a href="" class="pageable__pagination__page-item__page-link">
                25
            </a>
        </li>
        <li class="pageable__pagination__page-item">
            <a href="" class="pageable__pagination__page-item__page-link">
                26
            </a>
        </li>
        <li class="pageable__pagination__page-item">
            <a href="" class="pageable__pagination__page-item__page-link">
                27
            </a>
        </li>
        <li class="pageable__pagination__page-item">
            <a href="" class="pageable__pagination__page-item__page-link">
                28
            </a>
        </li>
        <li class="pageable__pagination__page-item">
            <a href="" class="pageable__pagination__page-item__page-link">
                29
            </a>
        </li>  <li class="pageable__pagination__page-item">
            <a href="" class="pageable__pagination__page-item__page-link">
                30
            </a>
        </li>  <li class="pageable__pagination__page-item">
            <a href="" class="pageable__pagination__page-item__page-link">
                31
            </a>
        </li>  <li class="pageable__pagination__page-item">
            <a href="" class="pageable__pagination__page-item__page-link">
                32
            </a>
        </li>  <li class="pageable__pagination__page-item">
            <a href="" class="pageable__pagination__page-item__page-link">
                33
            </a>
        </li>  <li class="pageable__pagination__page-item">
            <a href="" class="pageable__pagination__page-item__page-link">
                34
            </a>
        </li>  <li class="pageable__pagination__page-item">
            <a href="" class="pageable__pagination__page-item__page-link">
                35
            </a>
        </li>  <li class="pageable__pagination__page-item">
            <a href="" class="pageable__pagination__page-item__page-link">
                36
            </a>
        </li>  <li class="pageable__pagination__page-item">
            <a href="" class="pageable__pagination__page-item__page-link">
                37
            </a>
        </li>  <li class="pageable__pagination__page-item">
            <a href="" class="pageable__pagination__page-item__page-link">
                38
            </a>
        </li>  <li class="pageable__pagination__page-item">
            <a href="" class="pageable__pagination__page-item__page-link">
                39
            </a>
        </li>
        <li class="pageable__pagination__page-item">
            <a href="" class="pageable__pagination__page-item__page-link">
                40
            </a>
        </li>
        <li class="pageable__pagination__page-item">
            <a href="" class="pageable__pagination__page-item__page-link">
                41
            </a>
        </li>
    </ul>
</div>
